---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
    <h1 class="text-white text-3xl text-center mb-8 underline">About the project</h1>
    <p class="text-white text-center">I have built the SpaceX launches project for practising my Astro skills, I've also built this site using Tailwind CSS, TypeScript and a bit of Preact</p>
</Layout>